{% extends "layout.html" %}
{% block content %}
    <h1>Movie Database Home</h1>

    {% if current_user.is_authenticated %}
        <section>
            <p>Welcome, {{ current_user.username }}!</p>
            <a href="/logout">Log out</a>
        </section>
        <a href="{{ url_for('movies') }}">Movie database</a>
    {% else %}
        <section>
            <p>
                Please
                <a href="/login">Sign in</a>
                or
                <a href="/register">Register</a>
                to continue.
            </p>
        </section>
    {% endif %}
{% endblock %}
